@import "tailwindcss";
@plugin "daisyui";


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.absolute.inset-0.bg-black.bg-opacity-50.flex.flex-col.justify-center.items-center.text-center.p-4.space-y-6 {
    background: content-box;
}